@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
  --text-header: "Yellowtail", cursive;
  --text-font: "Open Sans", sans-serif;
  --text-color: #0c0710;
  --background-color: #f4faf9;
  --primary-color: #945dba;
  --secondary-color: #9d99cf;
  --accent-color: #58af9e;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-all {
  align-items: flex-end;
  flex-direction: column;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
}

header {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-weight: 800;
  font-family: var(--text-header);
  font-size: xx-large;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.list {
  max-width: 60vw;
}
